<div class="home-banner">
  <h1>CastlesBNB</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>

<form action="/all" method="get">
  <input type="text" name="castle" placeholder="Search for a place">
  <input type="submit">
</form>

<ul>
  <% @castles.each do |castle| %>
    <li>
      <%= link_to castle.name, castle_path(castle) %>
      <%= link_to edit_castle_path(castle) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to castle_path(castle), method: :delete, data: { confirm: "Are you sure?"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>
<%= image_tag "stirling.jpg", alt: "Stirling Castle", width: 200 %>
<div class="cas"></div>
<%= link_to "Add Castle", new_castle_path %>
